.dr_hl_footer {
    background-color:#98ac18;
    border-color:#839418;
}
.dr_hl_viewPlainCell, 
.dr_hl_copyCell, 
.dr_hl_printCell {
    background-color:#e8e8e8;
    border:1px solid #8f9e2f;
    color:#323232;
    cursor:pointer;
}
.dr_hl_trademarkCell {color:#efefef;}
.dr_hl_trademarkCell a:link {color:#efefef; text-decoration:none;}
.dr_hl_trademarkCell a:visited {color:#efefef; text-decoration:none;}
.dr_hl_trademarkCell a:active {color:#efefef;}